@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-sans font-medium;
  }

  h2 {
    @apply text-3xl font-sans font-medium;
  }

  h3 {
    @apply text-2xl font-sans font-medium;
  }

  h4 {
    @apply text-xl font-sans font-medium;
  }

  h5 {
    @apply text-lg font-sans font-medium;
  }

  h6 {
    @apply text-base font-sans font-medium;
  }
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='0.5' stroke='hsla(259, 59%, 59%, 0.14)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.mapboxgl-control-container {
  display: none !important;
}

.mapboxgl-map div:last-child {
  display: none !important;
}
