.companies {
  --company-width: 9rem;

  @apply;

  .marker {
    width: var(--company-width);
    @apply pointer-events-none absolute top-0 -z-10 h-16 transition-all duration-300 ease-in-out;
  }

  .company {
    width: var(--company-width);
    @apply shrink-0 border-r border-black px-4 py-2 text-left;
  }

  .company.active {
    @apply text-white;
  }
}

.detail {
  @apply min-h-48 -translate-y-1 rounded-b border border-black bg-white p-4 shadow-xl;

  .header {
    font-size: 1.25rem;

    .title {
      margin-bottom: 1rem;
      color: #885edd;
    }
  }

  .description {
    margin-top: 1rem;
    @apply prose max-w-full;
  }
}

.yellow-beer {
  background: #f8b725;
}

.bluish-purple {
  background: #885edd;
}

.green-carribean {
  background: #23c8a0;
}

.magenta-cerise {
  background: #da1d7e;
}
