.wrapper {
  @apply mt-24;
}

.innerWrapper {
  @apply container;
}

.companies {
  --company-width: 9rem;

  @apply flex justify-start w-full;
  @apply border-2 border-black shadow-brutalist;
  @apply mt-8 relative rounded-t;
  @apply overflow-x-auto overflow-y-hidden;

  .marker {
    width: var(--company-width);
    @apply absolute top-0 h-16 pointer-events-none -z-10;
    @apply transition-all duration-300 ease-in-out;
  }

  .company {
    width: var(--company-width);
    @apply shrink-0 text-left py-2 px-4;
    @apply border-r-2 border-black;
  }

  .company.active {
    @apply text-white;
  }
}

.detail {
  @apply bg-white min-h-48 p-4;
  @apply shadow-brutalist rounded-b;
  @apply border-2 border-black;
  @apply -translate-y-1;

  .header {
    font-size: 1.25rem;

    .title {
      margin-bottom: 1rem;
      color: #885edd;
    }
  }

  .description {
    margin-top: 1rem;
    @apply prose max-w-full;
  }
}

.yellow-beer {
  background: #f8b725;
}

.bluish-purple {
  background: #885edd;
}

.green-carribean {
  background: #23c8a0;
}

.magenta-cerise {
  background: #da1d7e;
}
