.wrapper {
  @apply px-4 py-28 text-3xl sm:text-4xl font-medium md:px-8 leading-snug container mx-auto max-w-screen-lg;
}

.main {
  @apply flex flex-col;
}

.superText {
  @apply mb-8 opacity-0 animate-fade-in-up animation-delay-0;
}

.mainText {
  background: linear-gradient(to right, #885edd, #da1d7e, #23c8a0, #f8b725);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;

  @apply text-6xl sm:text-7xl font-semibold opacity-0 animate-fade-in-up animation-delay-[150ms];
}

.subText {
  @apply text-2xl mt-8 opacity-0 animate-fade-in-up animation-delay-[300ms];
}

.subtitleWrapper {
  @apply mt-4 opacity-0 animate-fade-in-up animation-delay-[450ms];
}

.firstHighlight {
  @apply text-magenta-cerise;
}

.secondHighlight {
  @apply text-yellow-beer;
}

.buttonText {
  @apply text-base block mt-12 opacity-0 animate-fade-in-up animation-delay-[600ms];
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
