.wrapper {
  @apply overflow-hidden container mx-auto max-w-screen-lg;
}

.title {
  padding-inline: 1rem;

  @media (min-width: 768px) {
    padding-inline: 2rem;
  }

  @apply opacity-0 animate-fade-in-up animation-delay-[750ms];
}

.works {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  gap: 1.5rem;
  overflow-x: auto;
  padding-bottom: 2rem;
  padding-right: 2rem;
  margin-left: 1rem;
  margin-bottom: 4rem;

  @media (min-width: 768px) {
    margin-left: 2rem;
  }
}
