.container {
  border: 2px solid black;
  box-shadow: 4px 4px #000;
  flex-shrink: 0;
  width: 18rem;
  background: white;

  @media (min-width: 768px) {
    width: 24rem;
  }
}

.content {
  padding: 1rem;
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

.title h3 {
  font-size: 1.125rem;
}

.stack {
  padding-left: 1px;
  margin-top: 0.75rem;
  display: flex;
  gap: 0.25rem;
}

.stack .label {
  border: 1px solid black;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 0.125rem 0.5rem;
  margin-left: 0.25rem;
}

.logos {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

.desc {
  margin-top: 0.75rem;
  font-size: 0.875rem;
}
