.title {
  -webkit-text-stroke: 2px black;
  color: transparent !important;
  @apply text-5xl opacity-0 animate-fade-in-up;
}

.subtitle {
  @apply text-xl mt-4 mb-8 opacity-0 animate-fade-in-up animation-delay-[150ms];
}

.whiteBeforeLg {
  @apply text-white lg:text-black;
}

.whiteBeforeLg .title {
  -webkit-text-stroke: 2px white;
  color: transparent !important;

  @screen lg {
    -webkit-text-stroke: 2px black;
    color: transparent !important;
  }
}
