.root {
  @apply p-4 pt-32 container mx-auto;
}

.pageContent {
  @apply mt-8;
}

.sectionTitle {
  @apply text-xl font-bold mt-4;
}

.pageHeader {
  @apply flex items-center gap-2 mt-3 flex-wrap pb-8;
}

.sectionContent {
  @apply mt-4 mb-8;
}

.stats {
  @apply flex flex-col lg:flex-row gap-6 justify-between;
}

.stat {
  box-shadow: 4px 4px black;
  @apply w-full border bg-white border-black p-4 flex gap-4 items-center;
}

.statNumber {
  @apply text-5xl;
}

.statLabel {
  @apply text-sm;
}

.statLabelUnit {
  @apply text-xl;
}

.progressBar {
  box-shadow: 4px 4px black;
  @apply w-full h-4 bg-white border border-black;
}

.progressBarFill {
  @apply h-full bg-green-500;
}

.progressBarLabel {
  @apply text-sm mt-2;
}

.recentRun {
  box-shadow: 4px 4px black;
  @apply w-full border bg-white border-black flex flex-col sm:flex-row;
}

.recentRunMap {
  @apply w-full sm:max-w-[16rem] aspect-video relative border-b sm:border-b-0 sm:border-r border-black shrink-0;
}

.recentRunContent {
  @apply p-4 w-full;
}

.recentRunTitle {
  @apply text-2xl;
}

.recentRunStats {
  @apply flex flex-wrap gap-x-8 gap-y-4 mt-4;
}

.recentRunStat {
  @apply flex gap-4;
}

.recentRunStatNumber {
  @apply text-2xl;
}

.recentRunStatNumberDecimal {
  @apply text-base;
}
